@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Inter:wght@100..900&family=Josefin+Sans:wght@200&family=Kumbh+Sans:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@1,330&family=Poppins:ital,wght@0,300;1,200&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap');
.log{
    font-family: cursive;
    margin: 1.5vw 0rem;
}
.cont {
    font-family: "Public Sans", sans-serif;
}
.for {
    word-spacing: 1rem;
}
@media screen and (max-width: 767px){
    .cont{
        overflow-x: hidden;
        font-family: "Public Sans", sans-serif;
        padding: 1rem 0vw;
    }
    .cont img{
        display: none;
    }
    .cont p {
        /* display: none; */
    }
    .cont2 {
        gap: 2rem;
        width: 88%;
        margin: 0rem auto;
    }
    .cont3{
        font-size: 8vw;
        position: relative;
        padding: 1rem 3vw;
        letter-spacing: 2px;
        top: 10vw;
    }
    .cont1 {
        display: flex;
        flex-direction: row;
        margin: 0rem 1rem;
    }
    .cont6{
        width: 100vw;
    }
    

}